.SudokuTable {
    background-color: white;
    border: #000000;
    text-align: center;
}

.topBorder {
    border-top: 5px solid black;
}

.bottomBorder {
    border-bottom: 5px solid black;
}
.leftBorder {
    border-left: 5px solid black;
}
.rightBorder {
    border-right: 5px solid black;
}